
<div class="home">
    <div>
        <div class="inicio">
            <div class="pinturas">
                <h1>Pinturas corporais que <span class="highlight">desafiam</span> sua alma</h1>
                <p>Organize seu estúdio de tatuagem com nosso sistema inteligente, otimize o tempo e nunca mais perca o controle sobre seus materiais.</p>
                <img class="botaoOrcamento" src="/assets/images/home/botao.png" alt="login" [routerLink]="['/login']" />
            </div>
            
            <div class="caveira">
                <img src="/assets/images/home/caveiraInicio.png" />
            </div>
        </div>
    </div>
    <div class="divulgacao">
        <h1>Por que escolher nosso sistema? </h1>
        <img src="/assets/images/home/divulgacao.png"/>
    </div>
</div>
